body {
    background: linear-gradient(to left bottom, #c2e6f3, #00BFFF);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New';
    overflow: hidden;
}

.container {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: 5px;
    overflow: hidden;
}

.heading {
    font-size: 40px;
}
